/* =============================== */
/* TRUSTED PLATFORMS */
/* =============================== */

.trusted-platforms{

    padding:100px 80px;

    background:#fff;

    text-align:center;
}

.trusted-header{

    max-width:700px;

    margin:0 auto 60px;
}

.trusted-header h2{

    font-size:2.7rem;

    color:#111827;

    margin-bottom:18px;
}

.trusted-header p{

    font-size:1.1rem;

    color:#6b7280;

    line-height:1.8;
}

.platform-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:28px;
}

.platform-card{

    background:#fff;

    border:1px solid #e5e7eb;

    border-radius:22px;

    height:170px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    transition:.3s;

    cursor:pointer;
}

.platform-card:hover{

    transform:translateY(-8px);

    border-color:#2563eb;

    box-shadow:0 18px 45px rgba(0,0,0,.08);
}

.platform-card img{

    width:120px;

    height:60px;

    object-fit:contain;

    margin-bottom:18px;
}

.platform-card h4{

    color:#374151;

    font-size:16px;

    font-weight:600;
}

/* =============================== */

@media(max-width:1000px){

    .platform-grid{

        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:600px){

    .trusted-platforms{

        padding:70px 20px;
    }

    .platform-grid{

        grid-template-columns:1fr;
    }
}