/* ========================= */

.navbar{

    position: fixed;

    top: 0;

    left: 50%;

    transform: translateX(-50%);

    width: 100%;

    height: 80px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 0 70px;

    background: rgba(255,255,255,.92);

    backdrop-filter: blur(15px);

    z-index: 1000;

    transition: all .35s ease;

    box-sizing: border-box;
}

/* ========================= */

.navbar-logo{

    display:flex;

    align-items:center;

    gap:14px;

    text-decoration:none;
}

.navbar-logo img{

    width:52px;
}

.navbar-logo h2{

    color:#111;

    font-size:26px;

    font-weight:700;
}

.navbar-logo p{

    color:#777;

    font-size:12px;
}

/* ========================= */

.navbar-links{

    display:flex;

    gap:45px;
}

.navbar-links a{

    text-decoration:none;

    color:#444;

    font-weight:600;

    font-size:16px;

    transition:.3s;

    position:relative;
}

.navbar-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0;

    height:3px;

    background:#2563eb;

    transition:.3s;
}

.navbar-links a:hover{

    color:#2563eb;
}

.navbar-links a:hover::after{

    width:100%;
}

/* active page */

.navbar-links .active{

    color:#2563eb;
}

.navbar-links .active::after{

    width:100%;
}

/* ========================= */

.navbar-right{

    display:flex;

    gap:18px;
}

.login-btn{

    display:flex;

    align-items:center;

    gap:8px;

    padding:12px 24px;

    border:none;

    border-radius:12px;

    background:#2563eb;

    color:white;

    cursor:pointer;

    font-weight:600;

    transition:.3s;
}

.login-btn:hover{

    transform:translateY(-3px);
}

.wishlist-btn{

    display:flex;

    align-items:center;

    gap:8px;

    padding:12px 22px;

    border:1px solid #ddd;

    background:white;

    border-radius:12px;

    cursor:pointer;

    transition:.3s;
}

.wishlist-btn:hover{

    border-color:#2563eb;

    color:#2563eb;
}

.navbar{

    transition:all .4s ease;

}

.navbar-scrolled{

    width: 94%;

    top: 12px;

    border-radius: 18px;

    background: rgba(255,255,255,.45);

    backdrop-filter: blur(25px);

    box-shadow: 0 10px 30px rgba(0,0,0,.08);

    padding: 0 55px;
}