* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
}

html,
body{
    overflow-x:hidden;
}

img{
    display:block;
    max-width:100%;
    height:auto;
}

.page-content{
    padding-top:90px;
}